streamlit==1.31.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.2
zhipuai==2.1.0
chromadb==0.4.22
sentence-transformers==2.2.2
huggingface-hub==0.23.4
torch==2.1.2
torchvision==0.16.2
requests==2.31.0
python-dotenv==1.0.0
# 强制 rich 版本低于 14，以兼容 streamlit
rich<14